<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.UIcontrols">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Datepicker"></activity>
        <activity android:name=".TimePicker_layout" />
        <activity android:name=".Spinner_layout" />
        <activity android:name=".Progrssbar" />
        <activity android:name=".Radiogroup" />
        <activity android:name=".ToggleButton_layout" />
        <activity android:name=".Checkbox_layout" />
        <activity android:name=".Imagebtn" />
        <activity android:name=".Button_layout" />
        <activity android:name=".AutoCompleteTextView_layout" />
        <activity android:name=".Edittext_layout" />
        <activity android:name=".Textview_layout" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>